<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Manon & Jean-Marie{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            {% block header %}
                {% include '::header.html.twig' %}
            {% endblock %}
            {% block content %}
            {% endblock %}
            {% block footer %}
                <footer><a href="mailto:mjmravel@gmail.com">mjmravel@gmail.com</a></footer>
            {% endblock %}
        {% endblock %}
        {% block javascripts %}<script type="text/javascript" src="{{ asset('js/site.js') }}"></script>{% endblock %}
    </body>
</html>
