<header class="site-header">
    <div class="header-background">
        <h1>Manon &amp; Jean-Marie</h1>
    </div>
    <br/>
    <div class="navigation-menu">
        <a class="button">Nos fiançailles</a>
        <a class="button">Mariage civil</a>
        <a class="button">Messe de mariage</a>
        <a class="button">La réception</a>
        <a class="button">Liste de mariage</a>
        <a class="button">Covoiturage</a>
    </div>
    <br/>
</header>