# Cache and logs (Symfony3)
/var/cache/*
/var/logs/*
/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep

# Parameters
/app/config/parameters.yml

# Managed by Composer
/var/bootstrap.php.cache
/bin/*
!bin/console
!bin/symfony_requirements
/vendor/

# Assets and user uploads
/web/bundles/
/web/images/
/web/css/
/web/js/

# Assets managed by Bower
/mjmr/web/assets/vendor/

# PHPUnit
/phpunit.xml

# Build data
/mjmr/build/

# Composer PHAR
/mjmr/composer.phar

# Npm
/node_modules/

# IDE
.idea/*

# Vagrant
.vagrant/*
