# Cache and logs (Symfony2)
/mjmr/app/cache/*
/mjmr/app/logs/*
!mjmr/app/cache/.gitkeep
!mjmr/app/logs/.gitkeep

# Cache and logs (Symfony3)
/mjmr/var/cache/*
/mjmr/var/logs/*
/mjmr/var/sessions/*
!mjmr/var/cache/.gitkeep
!mjmr/var/logs/.gitkeep
!mjmr/var/sessions/.gitkeep

# Parameters
/mjmr/app/config/parameters.yml
/mjmr/app/config/parameters.ini

# Managed by Composer
/mjmr/app/bootstrap.php.cache
/mjmr/var/bootstrap.php.cache
/mjmr/bin/*
!mjmr/bin/console
!mjmr/bin/symfony_requirements
/mjmr/vendor/

# Assets and user uploads
/mjmr/web/bundles/
/mjmr/web/uploads/
/mjmr/web/css/
/mjmr/web/js/

# Assets managed by Bower
/mjmr/web/assets/vendor/

# PHPUnit
/mjmr/app/phpunit.xml
/mjmr/phpunit.xml

# Build data
/mjmr/build/

# Composer PHAR
/mjmr/composer.phar

# Npm
/mjmr/node_modules/

# IDE
.idea/*

# Vagrant
.vagrant/*
