$primary-color: #8e7ac5;
$header-title-color: #ffeb00;
$footer-height: 20px;
$footer-margin-bottom: 20px;

* {
  font-family: 'Alegreya Sans', sans-serif;
}

.header-background {
  background-image: url("/images/header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  position: relative;
}
.header-background h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $header-title-color;
  font-size: 50px;
  font-weight: bolder;
}

body > .container {
  margin-bottom: $footer-height + $footer-margin-bottom;
}

h1, h2, h3, h4, h5, h6 {
  color: $primary-color;
}

.save-the-date {
  width: 100%;
  margin-top: 25px;
}

#countdown {
  font-family: sans-serif;
  color: #fff;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}
#countdown > div {
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 3px;
  background: $primary-color;
}
#countdown > div > span {
  padding: 15px;
  border-radius: 3px;
  background: darken($primary-color, 20%);
}
#countdown .smalltext {
  padding-top: 5px;
  font-size: 16px;
}

.navigation-menu {
  margin-top: 10px;
  text-align: center;
}

.button {
  color: $primary-color;
  border: 0;
  border-top: 3px solid transparent;
  border-radius: 0;
  font-size: 14px;
}
.button:hover {
  border-top: 3px solid darken($primary-color, 10%);
  color: darken($primary-color, 10%);
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid $primary-color;
  outline: 0;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: $primary-color;
  border-color: $primary-color;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: darken($primary-color, 10%);
  border-color: darken($primary-color, 10%);
}

label {
  color: darken($primary-color, 10%);
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 $footer-height;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: $footer-margin-bottom;
  height: $footer-height;
  width: 100%;
  text-align: center;
}

a {
  color: $primary-color;

  &:active, &:hover {
    color: darken($primary-color, 20%);
  }
}

.photo {
  border-radius: 20px;
  border: 6px solid $primary-color;
  margin: 25px 0;
  width: 100%;
}

.no-bullet-points li {
  list-style: none;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-dismissible {
  padding-right: 35px;

  .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
  }
}

.close {
  height: 0;
  border: 0;
  width: auto;
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}

@mixin carpooling-topic() {
  padding: 20px;
  background-color: lighten($primary-color, 20%);
  border-radius: 10px;
}

li.carpooling-topic {
  list-style: none;

  a {
    color: darken($primary-color, 20%);
    text-decoration: none;

    &:hover, &:focus {
      color: darken($primary-color, 30%);
    }
  }

  div {
    @include carpooling-topic();

    &:hover, &:focus {
      background-color: lighten($primary-color, 10%);
    }
  }
}

p.carpooling-topic {
  @include carpooling-topic();
  color: darken($primary-color, 20%);
}
