{% extends 'base.html.twig' %}

{% block content %}
    <div class="wrapper">
        <p>Notre liste de mariage est accessible à <a href="http://www.millemercismariage.com/MJMR2016/liste.html">cette
            adresse</a>.</p>
    </div>
{% endblock %}

