{% extends 'base.html.twig' %}

{% block content %}
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="six columns">
                    <img class="photo" src="{{ asset('images/civilMarriage.jpg') }}">
                </div>
                <div class="six columns">
                    <img class="photo" src="{{ asset('images/cityHall.jpg') }}">
                </div>
            </div>
        </div>
        <p>Notre mariage civil sera célébré en petit comité, autour de notre famille proche et de quelques collègues le
            samedi 14 Mai a 15h. Il sera célébré à l’hôtel de ville de Saint Germain en Laye, lieu de naissance et de
            vie de Jean-Marie, par Philippe Pivert, Maire adjoint chargé de la jeunesse et des sports (et son Professeur
            de Karaté !)</p>
    </div>
{% endblock %}

