{% extends 'base.html.twig' %}

{% block content %}
    <div class="wrapper">
        <p>Nos fiançailles ont été bénies par le Père André Gouzes, OP, le 24 octobre dernier. Ce fut l’occasion de
            réunir nos deux familles dans la maison de famille des Poinssot en Aveyron.</p>
        <p>Deo gratias !</p>
    </div>
{% endblock %}

