{% extends 'base.html.twig' %}

{% block content %}
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <img class="photo" src="{{ asset('images/nuptialMass.jpg') }}">
                </div>
            </div>
        </div>
        <p>Nous aurons la joie de vivre le sacrement du mariage à 15h00 à l’église Saint Michel dans le village de
            Puimoisson (Alpes côtes d’azur, 04).</p>
        <p>Cette célébration correspond pour nous à l’accomplissement d’un cheminement à deux mais aussi signe le début
            d’une longue aventure et le fondement d’une nouvelle famille ! C’est l’occasion d’officialiser notre amour,
            de le célébrer mais aussi, et surtout, de demander à Dieu de bénir notre union !</p>
        <p>Le lieu choisi n’est pas anodin : c’est dans le village de Puimoisson que se trouve en effet la résidence
            secondaire des Poinssot ... et une grande partie du coeur de Manon ! A 1h30 au Sud­Est se trouve le petit
            village provençal de Claviers dont la famille Ravel est originaire depuis plusieurs générations !</p>
        <p>Ce sacrement revêt une grande importance pour nous et nous avons envie que vous participiez ! Musiciens et
            chanteurs, n’hésitez pas à vous manifester... et nous comptons sur votre prière à tous !</p>
        <p>Et comme la liturgie est nettement plus vivante en groupe, voilà les chants que nous avons choisis ! Cela
            vous permettra de vous familiariser avec certains chants... voire d’apprendre des secondes voix ! Nous
            organiserons une répétition (détails à préciser !)</p>
        <h1>Déroulé de la messe</h1>
        <ul>
            <li class="no-bullet-points">Chant d’entrée : Je bénis le seigneur mon berger</li>
            <li class="no-bullet-points">Kyrie : Saint Paul</li>
            <li class="no-bullet-points">Gloria : Richard</li>
            <li class="no-bullet-points">Alléluia : Messe de Saint Boniface</li>
            <li class="no-bullet-points">Chant à l’Esprit Saint : Gloire à Toi, Esprit de Feu</li>
            <li class="no-bullet-points">Chant d’action de grâce : Laudate Dominum</li>
            <li class="no-bullet-points">Prière universelle : Ô Marie prends nos prières</li>
            <li class="no-bullet-points">Offertoire : Voici le serviteur</li>
            <li class="no-bullet-points">Sanctus : Saint Paul</li>
            <li class="no-bullet-points">Anamnèse : Saint Paul</li>
            <li class="no-bullet-points">Notre Père : dit</li>
            <li class="no-bullet-points">Bénédiction nuptiale : Pour tes merveilles !</li>
            <li class="no-bullet-points">Agnus : Saint Paul</li>
            <li class="no-bullet-points">Communion : Je suis ton Dieu, ton Créateur</li>
            <li class="no-bullet-points">Consécration à Marie : Regarde l’étoile</li>
            <li class="no-bullet-points">Envoi : Alleluia, Jubilate</li>
        </ul>
    </div>
{% endblock %}
