{% extends 'base.html.twig' %}

{% block content %}
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="six columns">
                    <img class="photo" src="{{ asset('images/espadrilles.jpg') }}">
                </div>
                <div class="six columns">
                    <img class="photo" src="{{ asset('images/keep-calm-and-put-your-espadrilles.jpg') }}">
                </div>
            </div>
        </div>
        <p>
            Et parce qu'il ne faudrait pas que la fête s'arrête, nous vous donnons rendez-vous au domaine de
            Chanteraine, dans le parc, pour la messe dominicale en plein air. Les prêtres ont leur première messe, les
            jeunes mariés aussi ! Vous êtes donc joyeusement invités à vous joindre à nous dès 11h dans le parc du
            Domaine, si vous le souhaitez !
        </p>
        <p>
            Et que vous soyez avec nous pour la célébration ou non, vous êtes les bienvenus pour le brunch dominical, en
            toute simplicité et au même endroit, à partir de 12:30 ! Dress code : espadrilles ou bensimon ! Venez comme
            vous êtes !
        </p>
    </div>
{% endblock %}
