{% extends 'base.html.twig' %}
{% set wedding_list_url = 'http://www.millemercismariage.com/MJMR2016/liste.html' %}

{% block content %}
    <div class="wrapper">
        <p>
            Cher amis, à la demande de certains d'entre vous,s nous avons fait une liste de mariage ! Elle est
            accessible et partageable à <a href="{{ wedding_list_url }}" target="_blank">cette adresse</a>. Et si
            certains d'entre vous voulaient participer à plusieurs sur un même cadeau c'est aussi tout à fait possible !
        </p>
        <p>
            Dans la joie de vous revoir très vite : avant, pendant, ou après notre mariage !
        </p>
    </div>
{% endblock %}
